Store Sales - Time Series Forecasting

Step 1: Import Libraries and Load Datasets

In [41]:
# Import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns


# Load datasets - as the date is not the unique index, avoid set up explicit index for further analysis
train = pd.read_csv('data/train.csv', parse_dates=['date'])
test = pd.read_csv('data/test.csv', parse_dates=['date'])
stores = pd.read_csv('data/stores.csv')
oil = pd.read_csv('data/oil.csv', parse_dates=['date'])
holidays = pd.read_csv('data/holidays_events.csv', parse_dates=['date'])
transactions = pd.read_csv('data/transactions.csv', parse_dates=['date'])


# Preview datasets
print("Train Data:")
print(train.head())
print("\nTrain Data Statistcis:")
print(train.describe())
print("\nTrain Data null values:")
print(train.isnull().sum())
print("\nDistinct Date in Train Data:")
print("\nStart date:", train['date'].min())         # Earliest date
print("\nEnd date:", train['date'].max())           # Latest date
print("\nUnique dates:", train['date'].nunique())   # Number of unique dates
print("\nNumber of rows:", train.shape[0])          # Number of rows
print("\nNumber of duplicate rows:", train.duplicated().sum())  # Number of duplicated rows

print("\nTest Data:")
print(test.head())
print("\nTest Data Statistcis:")
print(test.describe())
print("\nTest Data null values:")
print(test.isnull().sum())
print("\nDistinct Date in Test Data:")
print("\nStart date:", test['date'].min())      # Earliest date
print("\nEnd date:", test['date'].max())        # Latest date
print("Unique dates:", test['date'].nunique())  # Number of unique dates
print("\nNumber of rows:", test.shape[0])       # Number of rows
print("\nNumber of duplicate rows:", test.duplicated().sum())   # Number of duplicated rows

print("\nStores Data:")
print(stores.head())
print("\nStores Data Statistcis:")
print(stores.describe())
print("\nStores Data null values:")
print(stores.isnull().sum())
print("Unique stores:", stores['store_nbr'].nunique())  # Number of unique stores
print("Duplicated stores:", stores['store_nbr'].duplicated().sum()) # Number of duplicated stores


print("\nOil Data:")
print(oil.head())
print("\nOil Data Statistcis:")
print(oil.describe())
print("\nOil Data null values:")
print(oil.isnull().sum())
print("\nStart date:", oil['date'].min())       # Earliest date
print("\nEnd date:", oil['date'].max())         # Latest date
print("\nUnique dates:", oil['date'].nunique())               # Number of unique dates
print("\nDuplicated dates:", oil['date'].duplicated().sum())  # Number of duplicated dates


print("\nHolidays Data:")
print(holidays.head())
print("\nHolidays Data Statistcis:")
print(holidays.describe())
print("\nHolidays Data null values:")
print(holidays.isnull().sum())
print("\nStart date:", holidays['date'].min())  # Earliest date
print("\nEnd date:", holidays['date'].max())    # Latest date
print("\nUnique dates:", holidays['date'].nunique())              # Number of unique dates
print("\nDuplicated dates:", holidays['date'].duplicated().sum()) # Number of duplicated dates - 38 duplicated dates
# View duplicates in holidays
duplicates = holidays[holidays.duplicated(subset='date', keep=False)]
print("Duplicate rows in holidays:")
print(duplicates)
# Fix: Keep the first holiday per date
holidays = holidays.drop_duplicates(subset='date', keep='first')
print("\nStart date:", holidays['date'].min())  # Earliest date
print("\nEnd date:", holidays['date'].max())    # Latest date
print("\nUnique dates:", holidays['date'].nunique())              # Number of unique dates
print("\nDuplicated dates:", holidays['date'].duplicated().sum()) # Number of duplicated dates - no duplicated dates

# As the total number of transactions at the store_nbr and date level with no reliable information to further break it down by family (product class), this table will not be adopted in the training and forecasting process. 
print(transactions.head())
print("\nNumber of duplicate rows:", transactions.duplicated().sum())  # Number of duplicated rows
print("\nStart date:", transactions['date'].min())         # Earliest date
print("\nEnd date:", transactions['date'].max())           # Latest date
print("\nUnique dates:", transactions['date'].nunique())   # Number of unique dates
print("\nDuplicated dates:", transactions['date'].duplicated().sum()) # Number of duplicated dates

Train Data:
   id       date  store_nbr      family  sales  onpromotion
0   0 2013-01-01          1  AUTOMOTIVE    0.0            0
1   1 2013-01-01          1   BABY CARE    0.0            0
2   2 2013-01-01          1      BEAUTY    0.0            0
3   3 2013-01-01          1   BEVERAGES    0.0            0
4   4 2013-01-01          1       BOOKS    0.0            0

Train Data Statistcis:
                 id                           date     store_nbr  \
count  3.000888e+06                        3000888  3.000888e+06
mean   1.500444e+06  2015-04-24 08:27:04.703088384  2.750000e+01
min    0.000000e+00            2013-01-01 00:00:00  1.000000e+00
25%    7.502218e+05            2014-02-26 18:00:00  1.400000e+01
50%    1.500444e+06            2015-04-24 12:00:00  2.750000e+01
75%    2.250665e+06            2016-06-19 06:00:00  4.100000e+01
max    3.000887e+06            2017-08-15 00:00:00  5.400000e+01
std    8.662819e+05                            NaN  1.558579e+01

              sales   onpromotion
count  3.000888e+06  3.000888e+06
mean   3.577757e+02  2.602770e+00
min    0.000000e+00  0.000000e+00
25%    0.000000e+00  0.000000e+00
50%    1.100000e+01  0.000000e+00
75%    1.958473e+02  0.000000e+00
max    1.247170e+05  7.410000e+02
std    1.101998e+03  1.221888e+01

Train Data null values:
id             0
date           0
store_nbr      0
family         0
sales          0
onpromotion    0
dtype: int64

Distinct Date in Train Data:

Start date: 2013-01-01 00:00:00

End date: 2017-08-15 00:00:00

Unique dates: 1684

Number of rows: 3000888

Number of duplicate rows: 0

Test Data:
        id       date  store_nbr      family  onpromotion
0  3000888 2017-08-16          1  AUTOMOTIVE            0
1  3000889 2017-08-16          1   BABY CARE            0
2  3000890 2017-08-16          1      BEAUTY            2
3  3000891 2017-08-16          1   BEVERAGES           20
4  3000892 2017-08-16          1       BOOKS            0

Test Data Statistcis:
                 id                 date     store_nbr   onpromotion
count  2.851200e+04                28512  28512.000000  28512.000000
mean   3.015144e+06  2017-08-23 12:00:00     27.500000      6.965383
min    3.000888e+06  2017-08-16 00:00:00      1.000000      0.000000
25%    3.008016e+06  2017-08-19 18:00:00     14.000000      0.000000
50%    3.015144e+06  2017-08-23 12:00:00     27.500000      0.000000
75%    3.022271e+06  2017-08-27 06:00:00     41.000000      6.000000
max    3.029399e+06  2017-08-31 00:00:00     54.000000    646.000000
std    8.230850e+03                  NaN     15.586057     20.683952

Test Data null values:
id             0
date           0
store_nbr      0
family         0
onpromotion    0
dtype: int64

Distinct Date in Test Data:

Start date: 2017-08-16 00:00:00

End date: 2017-08-31 00:00:00
Unique dates: 16

Number of rows: 28512

Number of duplicate rows: 0

Stores Data:
   store_nbr           city                           state type  cluster
0          1          Quito                       Pichincha    D       13
1          2          Quito                       Pichincha    D       13
2          3          Quito                       Pichincha    D        8
3          4          Quito                       Pichincha    D        9
4          5  Santo Domingo  Santo Domingo de los Tsachilas    D        4

Stores Data Statistcis:
       store_nbr    cluster
count  54.000000  54.000000
mean   27.500000   8.481481
std    15.732133   4.693395
min     1.000000   1.000000
25%    14.250000   4.000000
50%    27.500000   8.500000
75%    40.750000  13.000000
max    54.000000  17.000000

Stores Data null values:
store_nbr    0
city         0
state        0
type         0
cluster      0
dtype: int64
Unique stores: 54
Duplicated stores: 0

Oil Data:
        date  dcoilwtico
0 2013-01-01         NaN
1 2013-01-02       93.14
2 2013-01-03       92.97
3 2013-01-04       93.12
4 2013-01-07       93.20

Oil Data Statistcis:
                      date   dcoilwtico
count                 1218  1175.000000
mean   2015-05-02 12:00:00    67.714366
min    2013-01-01 00:00:00    26.190000
25%    2014-03-03 06:00:00    46.405000
50%    2015-05-02 12:00:00    53.190000
75%    2016-06-30 18:00:00    95.660000
max    2017-08-31 00:00:00   110.620000
std                    NaN    25.630476

Oil Data null values:
date           0
dcoilwtico    43
dtype: int64

Start date: 2013-01-01 00:00:00

End date: 2017-08-31 00:00:00

Unique dates: 1218

Duplicated dates: 0

Holidays Data:
        date     type    locale locale_name                    description  \
0 2012-03-02  Holiday     Local       Manta             Fundacion de Manta
1 2012-04-01  Holiday  Regional    Cotopaxi  Provincializacion de Cotopaxi
2 2012-04-12  Holiday     Local      Cuenca            Fundacion de Cuenca
3 2012-04-14  Holiday     Local    Libertad      Cantonizacion de Libertad
4 2012-04-21  Holiday     Local    Riobamba      Cantonizacion de Riobamba

   transferred
0        False
1        False
2        False
3        False
4        False

Holidays Data Statistcis:
                                date
count                            350
mean   2015-04-24 00:45:15.428571392
min              2012-03-02 00:00:00
25%              2013-12-23 06:00:00
50%              2015-06-08 00:00:00
75%              2016-07-03 00:00:00
max              2017-12-26 00:00:00

Holidays Data null values:
date           0
type           0
locale         0
locale_name    0
description    0
transferred    0
dtype: int64

Start date: 2012-03-02 00:00:00

End date: 2017-12-26 00:00:00

Unique dates: 312

Duplicated dates: 38
Duplicate rows in holidays:
          date        type    locale    locale_name  \
7   2012-06-25     Holiday  Regional       Imbabura
8   2012-06-25     Holiday     Local      Latacunga
9   2012-06-25     Holiday     Local        Machala
10  2012-07-03     Holiday     Local  Santo Domingo
11  2012-07-03     Holiday     Local      El Carmen
..         ...         ...       ...            ...
319 2017-07-03     Holiday     Local  Santo Domingo
341 2017-12-08     Holiday     Local           Loja
342 2017-12-08    Transfer     Local          Quito
344 2017-12-22     Holiday     Local        Salinas
345 2017-12-22  Additional  National        Ecuador

                       description  transferred
7    Provincializacion de Imbabura        False
8       Cantonizacion de Latacunga        False
9             Fundacion de Machala        False
10      Fundacion de Santo Domingo        False
11      Cantonizacion de El Carmen        False
..                             ...          ...
319     Fundacion de Santo Domingo        False
341              Fundacion de Loja        False
342    Traslado Fundacion de Quito        False
344       Cantonizacion de Salinas        False
345                      Navidad-3        False

[69 rows x 6 columns]

Start date: 2012-03-02 00:00:00

End date: 2017-12-26 00:00:00

Unique dates: 312

Duplicated dates: 0
        date  store_nbr  transactions
0 2013-01-01         25           770
1 2013-01-02          1          2111
2 2013-01-02          2          2358
3 2013-01-02          3          3487
4 2013-01-02          4          1922

Number of duplicate rows: 0

Start date: 2013-01-01 00:00:00

End date: 2017-08-15 00:00:00

Unique dates: 1682

Duplicated dates: 81806

Step 2: Merge and Prepare the Data

Merge Datasets

In [42]:
# Merge train with stores data
train = train.merge(stores, on='store_nbr', how='left')

# Merge train with oil prices
train = train.merge(oil, on='date', how='left')

# Merge train with holidays data
train = train.merge(holidays, on='date', how='left')

Check for Data Integrity

In [43]:
# Preview the merged data
print("Merged Train Data:")
print(train.head())
print("\nNumber of rows:", train.shape[0])


# Check for missing values
missing_values = train.isnull().sum()
print("Missing Values:")
print(missing_values)

# Forward fill missing values
train['dcoilwtico'] = train['dcoilwtico'].ffill()
# Backward fill any remaining missing values
train['dcoilwtico'] = train['dcoilwtico'].bfill()
missing_values_1 = train.isnull().sum()

# Verify no missing values for oil prices
print("Missing Values:")
print(missing_values_1) 

# Check for duplicate rows
duplicates = train.duplicated().sum()
print("Number of duplicate rows:", duplicates)

# Preview the merged data
print("Merged Train Data:")
print(train.head())
print("\nNumber of rows:", train.shape[0])

Merged Train Data:
   id       date  store_nbr      family  sales  onpromotion   city      state  \
0   0 2013-01-01          1  AUTOMOTIVE    0.0            0  Quito  Pichincha
1   1 2013-01-01          1   BABY CARE    0.0            0  Quito  Pichincha
2   2 2013-01-01          1      BEAUTY    0.0            0  Quito  Pichincha
3   3 2013-01-01          1   BEVERAGES    0.0            0  Quito  Pichincha
4   4 2013-01-01          1       BOOKS    0.0            0  Quito  Pichincha

  type_x  cluster  dcoilwtico   type_y    locale locale_name  \
0      D       13         NaN  Holiday  National     Ecuador
1      D       13         NaN  Holiday  National     Ecuador
2      D       13         NaN  Holiday  National     Ecuador
3      D       13         NaN  Holiday  National     Ecuador
4      D       13         NaN  Holiday  National     Ecuador

          description transferred
0  Primer dia del ano       False
1  Primer dia del ano       False
2  Primer dia del ano       False
3  Primer dia del ano       False
4  Primer dia del ano       False

Number of rows: 3000888
Missing Values:
id                   0
date                 0
store_nbr            0
family               0
sales                0
onpromotion          0
city                 0
state                0
type_x               0
cluster              0
dcoilwtico      928422
type_y         2551824
locale         2551824
locale_name    2551824
description    2551824
transferred    2551824
dtype: int64
Missing Values:
id                   0
date                 0
store_nbr            0
family               0
sales                0
onpromotion          0
city                 0
state                0
type_x               0
cluster              0
dcoilwtico           0
type_y         2551824
locale         2551824
locale_name    2551824
description    2551824
transferred    2551824
dtype: int64
Number of duplicate rows: 0
Merged Train Data:
   id       date  store_nbr      family  sales  onpromotion   city      state  \
0   0 2013-01-01          1  AUTOMOTIVE    0.0            0  Quito  Pichincha
1   1 2013-01-01          1   BABY CARE    0.0            0  Quito  Pichincha
2   2 2013-01-01          1      BEAUTY    0.0            0  Quito  Pichincha
3   3 2013-01-01          1   BEVERAGES    0.0            0  Quito  Pichincha
4   4 2013-01-01          1       BOOKS    0.0            0  Quito  Pichincha

  type_x  cluster  dcoilwtico   type_y    locale locale_name  \
0      D       13       93.14  Holiday  National     Ecuador
1      D       13       93.14  Holiday  National     Ecuador
2      D       13       93.14  Holiday  National     Ecuador
3      D       13       93.14  Holiday  National     Ecuador
4      D       13       93.14  Holiday  National     Ecuador

          description transferred
0  Primer dia del ano       False
1  Primer dia del ano       False
2  Primer dia del ano       False
3  Primer dia del ano       False
4  Primer dia del ano       False

Number of rows: 3000888